@tailwind base;
@tailwind components;

html {
  @apply font-sans antialiased;
}

a.router-link-active {
  @apply font-bold;
}

.bg-home {
  background-image: url(../img/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@tailwind utilities;
